################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fall2026-A03-Class-Repo.slnx/FileContentIndex/e79a6439-799c-4d6e-bad6-6453d39b7d74.vsidx
/.vs
/Module-2/Day14-AuthorizeView/demo/finished/Day14Demo/.vs/Day14Demo
